@import url('https://fonts.googleapis.com/css?family=Signika|Vollkorn');



#wordmark {
    font-family: 'Signika', sans-serif;
}

p {
    font-family: 'Vollkorn', serif;
    color: black;
}
p.bio {
    font-family: 'Vollkorn', serif;
    color: black;
}
.loop {
    color: aqua;
}

#basic {
    color: coral;
}
div.dropdown {
    float: right;
}
h1{
    font-family: 'Signika', sans-serif;
    color: white;
    text-align: center;
}
body {
    background-color: black;
}
h4{
    font-family: 'Signika', sans-serif;
    color: white; 
}
h2{
    font-family: 'Signika', sans-serif;
    color: white;
    text-align: center; 
}
.about {
    font-family: 'Vollkorn', serif;
    color: white;
}