<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/SiteFavicon.png') }}">
      

    <title>Major Courses</title>
    
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    </script>
      
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136623248-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136623248-1');
    </script>
      
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      
    
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <style>
        body {
            background-color: black;
        }
        #science {
            width: 100%;
            height: 300px;
            background-color: #FF0000;
        }
        #hnss {
            width: 100%;
            height: 300px;
            background-color: #00CCCC;
        }
        #engineering {
            width: 100%;
            height: 300px;
            background-color: #FF8000;
        }
        #business {
            width: 100%;
            height: 300px;
            background-color: #89CFF0;
        }
    </style>
  </head>
  <body>

    <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/SiteLogoUpdated.png') }}" width="50" height="30" alt="main logo for DIGIT 400 site">
        </a>
  <a class="navbar-brand" href="/">Major Courses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter"><i class="material-icons">account_box</i>Login</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav><!-- END Nav Bar -->
      
      <h1 class="main">Major Courses At Behrend</h1>
      
      <!-- Content -->
      <br>
      <div class="container-fluid" id="science">
            <div class="dropdown.pull-right">
              <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sciecne Majors
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Biology</a>
                <a class="dropdown-item" href="#">Chemistry</a>
                <a class="dropdown-item" href="#">Environmental Science</a>
                <a class="dropdown-item" href="#">Mathematics</a>
                <a class="dropdown-item" href="#">Nursing</a>
                <a class="dropdown-item" href="#">Physics</a>
                <a class="dropdown-item" href="#">Science</a>
                <a class="dropdown-item" href="#">Secondary Education in Mathematics</a>
              </div>
            </div>
      </div>
      <br>
      <div class="container-fluid" id="hnss">
            <div class="dropdown.pull-right">
              <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                H&amp;SS Majors
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Arts Administration</a>
                <a class="dropdown-item" href="#">Communication</a>
                <a class="dropdown-item" href="#">Creative Writing</a>
                <a class="dropdown-item" href="/digit/">Digital Media, Arts, and Technology</a>
                <a class="dropdown-item" href="#">Elementary and Early Childhood Education</a>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">General Arts and Sciences</a>
                <a class="dropdown-item" href="#">History</a>
                <a class="dropdown-item" href="#">Political Science</a>
                <a class="dropdown-item" href="#">Psychology (B.A.)</a>
                <a class="dropdown-item" href="#">Psychology (B.S.)</a>
              </div>
            </div>
      </div>
      <br>
      <div class="container-fluid" id="engineering">
            <div class="dropdown.pull-right">
              <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Engineering Majors
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Computer Engineering</a>
                <a class="dropdown-item" href="#">Computer Science</a>
                <a class="dropdown-item" href="#">Electrical and Computer Engineering Technology</a>
                <a class="dropdown-item" href="#">Electrical Engineering</a>
                <a class="dropdown-item" href="#">Industrial Engineering</a>
                <a class="dropdown-item" href="#">Interdisciplinary Business with Engineering Studies</a>
                <a class="dropdown-item" href="#">Mechanical Engineering</a>
                <a class="dropdown-item" href="#">Mechanical Engineering Technology</a>
                <a class="dropdown-item" href="#">Plastics Engineering Technology</a>
                <a class="dropdown-item" href="#">Software Engineering</a>
              </div>
            </div>
      </div>
      <br>
      <div class="container-fluid" id="business">
            <div class="dropdown.pull-right">
              <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Business Majors
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Accounting</a>
                <a class="dropdown-item" href="#">Business Economics</a>
                <a class="dropdown-item" href="#">Economics</a>
                <a class="dropdown-item" href="#">Finance</a>
                <a class="dropdown-item" href="#">Interdisciplinary Business with Engineering Studies</a>
                <a class="dropdown-item" href="#">International Business</a>
                <a class="dropdown-item" href="#">Management Information Systems</a>
                <a class="dropdown-item" href="#">Marketing</a>
                <a class="dropdown-item" href="#">Project and Supply Chain Management</a>
              </div>
            </div>
      </div>
      <br>
      <!-- <div>
      <video autoplay poster="{{ url_for('static', filename='images/space_cats.png') }}" muted loop style="width: 100%; max-height: 80%">
          <source src="{{ url_for('static', filename='videos/space_cats.mp4') }}" type="video/mp4">
      </video>
      </div> -->
      <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
            <br>
        <h4>Login</h4>
        <br>
        <form action="#" class="form-inline" method="post">
            <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}"> &nbsp;
      
            <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}"> &nbsp;
            <br>
 
            <input class="btn btn-secondary" type="submit" value="login">
        </form>
        <br>
        <p><code>{{ error }}</code></p>
            <hr>
                <p>Psst! You tryna get an account? <a href="/register/" style="text-decoration: none">Register here</a></p>
            
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
      
      <!-- End of Modal -->
      
    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>