<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/SiteFavicon.png') }}">
      

    <title>Major Courses</title>
    
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    </script>
      
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136623248-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136623248-1');
    </script>
      
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      
    
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <style>
        body {
            background-color: black;
        }
        #science {
            width: 100%;
            height: 300px;
            background-color: #FF0000;
        }
        #hnss {
            width: 100%;
            height: 325px;
            background-color: #00CCCC;
        }
        #engineering {
            width: 100%;
            height: 325px;
            background-color: #FF8000;
        }
        #business {
            width: 100%;
            height: 345px;
            background-color: #89CFF0;
        }
    </style>
  </head>
  <body>

    <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/SiteLogoUpdated.png') }}" width="50" height="30" alt="main logo for DIGIT 400 site">
        </a>
  <a id="wordmark" class="navbar-brand" href="/">Major Courses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
        {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login/" data-toggle="modal" data-target="#exampleModalCenter"><i class="material-icons">account_box</i>Login</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav><!-- END Nav Bar -->
      
      <h1 class="main">Major Courses At Behrend</h1>
      
      <!-- Content -->
      <br>
      <div class="container-fluid" id="science">
          <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">The School of Science</h5>
                    <p class="card-text">According to Penn State Behrend's website:<br><br>"What’s the formula for academic success? Access to the faculty and research facilities of a global university + learning in smaller-sized classes = the Penn State Behrend School of Science.<br>Our students are given a hands-on, practical science education guided by experienced faculty. They also have opportunities to conduct substantive research experiences not typically offered at the undergraduate level."</p>
                    <div class="dropdown.pull-left">
                      <button class="btn btn-secondary dropdown-toggle float-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Science Majors
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/bio/">Biology</a>
                        <a class="dropdown-item" href="/chem/">Chemistry</a>
                        <a class="dropdown-item" href="/ensci/">Environmental Science</a>
                        <a class="dropdown-item" href="/math/">Mathematics</a>
                        <a class="dropdown-item" href="/phys/">Physics</a>
                        <a class="dropdown-item" href="/sci/">Science</a>
                        <a class="dropdown-item" href="/seced/">Secondary Education in Mathematics</a>
                      </div>
                    </div>
                </div>
            </div>
      </div>
      <br>
      <div class="container-fluid" id="hnss">
          <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">The School of Humanities &amp; Social Sciences</h5>
                    <p class="card-text">According to Penn State Behrend's website:<br><br>"The School of Humanities and Social Sciences offers diverse four-year degree programs that develop both intellect and practical skills for employment. Our students are tomorrow’s historians, writers, communicators, educators, and critical thinkers, exploring and reflecting on our society and the larger world beyond.<br>Highly accomplished School of Humanities and Social Sciences faculty members are scholars with international reputations for research, award-winning writers, and skilled teachers with years of practical professional experiences."</p>
                    <div class="dropdown.pull-left">
                      <button class="btn btn-secondary dropdown-toggle float-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        H&amp;SS Majors
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/artsa/">Arts Administration</a>
                        <a class="dropdown-item" href="/comm/">Communication</a>
                        <a class="dropdown-item" href="/cw/">Creative Writing</a>
                        <a class="dropdown-item" href="/digit/">Digital Media, Arts, and Technology</a>
                        <a class="dropdown-item" href="/engl/">English</a>
                        <a class="dropdown-item" href="/hist/">History</a>
                        <a class="dropdown-item" href="/plsc/">Political Science</a>
                        <a class="dropdown-item" href="/psychba/">Psychology (B.A.)</a>
                        <a class="dropdown-item" href="/psychbs/">Psychology (B.S.)</a>
                      </div>
                    </div>
                </div>
            </div>
      </div>
      <br>
      <div class="container-fluid" id="engineering">
          <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">The School of Engineering</h5>
                    <p class="card-text">According to Penn State Behrend's website:<br><br>"The School of Engineering is ranked among the best undergraduate engineering programs nationwide. Why? State-of-the-art facilities, award-winning faculty, both engineering and engineering technology program offerings, small class sizes, emphasis on meaningful student design and research experiences, and superior internship and job placement are just a few of the reasons.<br>The School of Engineering is partnered with the Black School of Business to give engineering and engineering technology students unique multidisciplinary learning experiences that are highly valued by global employers."</p>
                    <div class="dropdown.pull-left">
                      <button class="btn btn-secondary dropdown-toggle float-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Engineering Majors
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/compeng/">Computer Engineering</a>
                        <a class="dropdown-item" href="/compsci/">Computer Science</a>
                        <a class="dropdown-item" href="/ecet/">Electrical and Computer Engineering Technology</a>
                        <a class="dropdown-item" href="/elec/">Electrical Engineering</a>
                        <a class="dropdown-item" href="/indust/">Industrial Engineering</a>
                        <a class="dropdown-item" href="/interd/">Interdisciplinary Business with Engineering Studies</a>
                        <a class="dropdown-item" href="/mecheng/">Mechanical Engineering</a>
                        <a class="dropdown-item" href="/mechengT/">Mechanical Engineering Technology</a>
                        <a class="dropdown-item" href="/plastic/">Plastics Engineering Technology</a>
                        <a class="dropdown-item" href="/softeng/">Software Engineering</a>
                      </div>
                    </div>
                </div>
            </div>
      </div>
      <br>
      <div class="container-fluid" id="business">
          <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">The Black School of Business</h5>
                    <p class="card-text">According to Penn State Behrend's website:<br><br>"The Black School of Business is the only business school in the region accredited by AACSB International, the premier accrediting agency for management education. You’ll also find us listed among America’s Best Business Schools and the Best 300 Business Schools in the country.<br>Black School of Business students benefit from all the resources of a global research institution while enjoying all the advantages of learning in a smaller, multidisciplinary setting. We educate in a high-tech academic environment, the Jack Burke Research and Economic Development Center, and offer unique learning opportunities made possible by a $20 million endowment from the late insurance executive Samuel P. Black Jr. and his wife, Irene."</p>
                    <div class="dropdown.pull-left">
                      <button class="btn btn-secondary dropdown-toggle float-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Business Majors
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/acctg/">Accounting</a>
                        <a class="dropdown-item" href="/busecon/">Business Economics</a>
                        <a class="dropdown-item" href="/econ/">Economics</a>
                        <a class="dropdown-item" href="/finance/">Finance</a>
                        <a class="dropdown-item" href="/interd/">Interdisciplinary Business with Engineering Studies</a>
                        <a class="dropdown-item" href="/intbus/">International Business</a>
                        <a class="dropdown-item" href="/mis/">Management Information Systems</a>
                        <a class="dropdown-item" href="/mark/">Marketing</a>
                        <a class="dropdown-item" href="/pnsm/">Project and Supply Chain Management</a>
                      </div>
                    </div>
                </div>
            </div>
      </div>
      <br>
      <!-- <div>
      <video autoplay poster="{{ url_for('static', filename='images/space_cats.png') }}" muted loop style="width: 100%; max-height: 80%">
          <source src="{{ url_for('static', filename='videos/space_cats.mp4') }}" type="video/mp4">
      </video>
      </div> -->
      <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
            <br>
        <h4>Login</h4>
        <br>
        <form action="#" class="form-inline" method="post">
            <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}"> &nbsp;
      
            <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}"> &nbsp;
            <br>
 
            <input class="btn btn-secondary" type="submit" value="login">
        </form>
        <br>
        <p><code>{{ error }}</code></p>
            <hr>
                <p>Psst! You tryna get an account? <a href="/register/" style="text-decoration: none">Register here</a></p>
            
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
      
      <!-- End of Modal -->
      
    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>